MAILTO=""
SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# m h dom mon dow user  command
# Run prediction script daily at 00:05
5 0 * * *    loxberry    /usr/bin/python3 /opt/loxberry/bin/plugins/consumption_prediction/prediction.py

# Run training script every Sunday at 02:00
0 2 * * 0    loxberry    /usr/bin/python3 /opt/loxberry/bin/plugins/consumption_prediction/train_model.py

# Evaluate predictions at 00:30
30 0 * * *    loxberry    /usr/bin/python3 /opt/loxberry/plugins/consumption_prediction/evaluation.py

# send predictions to loxone every hour at 15 minutes past the hour
15 * * * *    loxberry    /usr/bin/python3 /opt/loxberry/plugins/consumption_prediction/send_predictions.py

0 3 * * 0    loxberry    /usr/bin/python3 /opt/loxberry/bin/plugins/consumption_prediction/get_solar_prediction.py
